apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: upload-service
  namespace: ai-demo
spec:
  template:
    spec:
      containers:
        - image: quay.io/kevent-mesh/ai-demo-upload-service:main
          imagePullPolicy: Always
          env:
            - name: S3_ENDPOINT_URL
              value: https://minio.minio-operator.svc.cluster.local
            - name: S3_ACCESS_KEY_ID
              value: minio
            - name: S3_ACCESS_KEY_SECRET
              value: minio1234
            - name: S3_ACCESS_SSL_VERIFY
              value: "false"
            - name: S3_BUCKET_NAME
              value: ai-demo
